@model IEnumerable<For70486.Models.Member>

@{
    ViewBag.Title = "List";
    ViewBag.test = @HttpContext.GetGlobalResourceObject("MyResource", "Memo");
}

@*<h2>@HttpContext.GetGlobalResourceObject("MyResource", "Memo")</h2>*@
<div class="display:block">
    @Html.ActionLink("Create", "Create")
</div>
<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.Name)</th>
        <th>@Html.DisplayNameFor(model => model.Email)</th>
        <th>@Html.DisplayNameFor(model => model.Birth)</th>
        <th>@Html.DisplayNameFor(model => model.Married)</th>
        <th>@Html.DisplayNameFor(model => model.Memo)</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Email</td>
            <td>@item.Birth</td>
            <td>@item.Married</td>
            <td>@item.Memo</td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                @Html.ActionLink("Detail", "Detail", new { id = item.Id })
            </td>
        </tr>
    }
</table>
